<ion-content class="login-content loneliness-padding ion-padding">
  <div class="login-container ion-text-center">
    
    <div class="brand-wrapper">
      <div class="brand-logo">
        <img src="assets/logo.png" alt="VitaVerde Logo">
      </div>
      <h1 class="brand-title">VitaVerde</h1>
      <h2 class="info-title">Inicia Sesión</h2>
      <p class="description-text">Ingrese sus credenciales de acceso</p>
    </div>

    <div class="form-wrapper">
      <ion-item lines="none" class="custom-input">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>

    <ion-button expand="block" class="action-button-entrar" (click)="btnEntrarLogin()">
      ENTRAR
    </ion-button>

    <p class="clickable-text" (click)="irACrearCuenta()">
      ¿No tienes cuenta? <strong class="success-link">Regístrate gratis</strong>
    </p>

  </div>
</ion-content>