<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Catálogo VitaVerde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="tokenActivo">
    
    <ion-item lines="none" class="jwt-badge">
      <ion-icon name="shield-checkmark-outline" color="success" slot="start"></ion-icon>
      <ion-label>Sesión Segura Activada</ion-label>
      <ion-button slot="end" fill="clear" color="danger" (click)="onLogout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
    
    <h2 class="section-title">Nuestros Frescos</h2>
    
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let prod of productos">
          <div class="product-card">
            
            <div class="image-container">
              <span class="category-badge">{{ prod.categoria }}</span>
              <img [src]="prod.imagen" alt="{{ prod.nombre }}" />
            </div>

            <div class="product-info-header">
              <h3 class="product-title">{{ prod.nombre }}</h3>
              <p class="product-price">{{ prod.precio | currency:'COP':'$':'1.0-0' }} / un</p>
            </div>

            <div class="product-action-content">
              
              <ion-button *ngIf="!obtenerCantidad(prod.id)" expand="block" class="add-button" (click)="cambiarCantidad(prod, 1)">
                <ion-icon name="add-circle-outline" slot="start"></ion-icon> Añadir
              </ion-button>

              <div *ngIf="obtenerCantidad(prod.id) > 0" class="quantity-selector">
                <ion-button fill="clear" color="success" (click)="cambiarCantidad(prod, -1)">
                  <ion-icon name="remove-circle-outline"></ion-icon>
                </ion-button>
                
                <span class="quantity-text">{{ obtenerCantidad(prod.id) }}</span>
                
                <ion-button fill="clear" color="success" (click)="cambiarCantidad(prod, 1)">
                  <ion-icon name="add-circle-outline"></ion-icon>
                </ion-button>
              </div>

            </div>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>